.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  transition: margin-left 0.3s ease;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 1.5rem;
  background-color: #fafafa;
  overflow-y: auto;
  height: calc(100vh - 64px); /* Subtract navbar height */
}

@media (max-width: 767px) {
  .sidebarOpen {
    margin-left: 250px; /* Adjust this value to match your sidebar width */
  }
}

@media (min-width: 768px) {
  .mainContainer {
    margin-left: 250px; /* Adjust this value to match your sidebar width */
  }
}

